/* Set smooth scrolling behavior for the page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set default styles for body */

body {
  background-color: #fff;
  color: #000;
  font-family: "Century Gothic", 'Lato', sans-serif;
}

/* Remove default underline from links */

a {
  text-decoration: none;
}

/* Set styles for hero section and tabs */

.et-hero-tabs, .et-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

/* Set styles for hero section title */


.et-hero-tabs  h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }

.et-hero-tabs  h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }

/* Set styles for hero section subtitle */

/* Set styles for hero tabs container */

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.37rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

/* Set styles for top-fixed hero tabs container */

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

/* Set styles for hero tabs */

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}
    
.et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
}

/* Set styles for hovered hero tabs */

/* Set styles for hero tabs slider */

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

/* Set styles for navigation bar */

nav {
  background-color: #1D2B44;
}

/* Set styles for headings */

h1, h2, h3 {
  color: #000;
}

/* Set styles for main heading */

h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Set styles for subheadings */

h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Set styles for paragraphs */

p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cards-flex {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
}


@media (max-width: 1000px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .et-hero-tab {
    font-size: 0.5rem;
  }
}
